//font size
$normal: 18px;
$medium: 25px;
$big: 30px;
$bigger: 36px;
//color
$light-blue: #3ab5fe;
$light-gray: #efefef;
$light-yellow: #ecb923;
$dark-yellow: #dca503;
//screen size
$mobileSize: 480px;
$tabletSize: 768px;
$desktopSize: 992px;
$laptopSize: 1200px;
$largeSize: 1400px;
//line height
$line-height-default: 50px;
