mixin row_item_input_(label, name, place_holder)
    .row
        .col-md-4.col-lable=label
        .col-md-8.padding-left-0.padding-right-0
            input(type="text" name=name placeholder=place_holder class="input-text")