mixin transaction_confirm_(head_class)
    .container(class=head_class)
        .row.confirmed
            .col-md-6
                button(type="button" name="btn-confirmed" class="confirmed__button" text="confirmed")
            .col-md-6
                a.confirmed__link
                    