mixin transaction_confirm_(head_class)
    div(class=head_class)
        .row.confirmed
            .col-md-6.col-xs-6.confirmed__button
                button(type="button" name="btn-confirmed") confirmed
            .col-md-6.col-xs-6.confirmed__link
                a(href="#")
                    i.blank-icon
                    span Click to view