extends _root.jade
block title
  title My Profile
block header
  header
    include ./blocks/_shared/_nav-menu.jade
block content
    include ./blocks/_shared/_welcome.jade
    include ./blocks/_shared/_state.jade
    include ./blocks/my-profile/_information.jade
    include ./blocks/my-profile/_content.jade