extends _root.jade
block title
  title Pin Wallet
block header
  header
    include ./blocks/_shared/_nav-menu.jade
block content
    include ./blocks/_shared/_welcome.jade
    include ./blocks/_shared/_state.jade
    include ./blocks/pin-wallet/_transfer.jade
    include ./blocks/pin-wallet/_listing.jade