extends _root-master.jade
block title
  title Sign-in
block header
  header
    include ./blocks/_shared/_header.jade
block content
    include ./blocks/signin/_signin-form.jade
    include ./blocks/_shared/_announcement.jade