extends _root.jade
block title
  title Transaction
block header
  header
    include ./blocks/_shared/_nav-menu.jade
block content
    include ./blocks/_shared/_welcome.jade
    include ./blocks/_shared/_state.jade
    include ./blocks/transaction/_button-group.jade
    include ./blocks/transaction/_history.jade