section.announcement
    .container
        .row
            .col-md-12
                .announcement__title Announcement
                .announcement__content
                    |Welcome all the member to join...
                    br
                    |bla bla bla
                    br
                    |................
                