nav.navbar
    .container
        ul.nav.navbar-nav
            li
                a
                    i.icon-header.icon-header--dashboard
                    |Dashboard
            li.active
                a
                    i.icon-header.icon-header--myprofile
                    |My profile
            li
                a
                    i.icon-header.icon-header--transaction
                    |Transaction
            li
                a
                    i.icon-header.icon-header--pinwallet
                    |Pin wallet
            li
                a
                    i.icon-header.icon-header--treesystem
                    |Tree system
            li
                a
                    i.icon-header.icon-header--signout
                    |Sign-out