section.welcome
    .container.bg-lightblue
        .row
            |Welcome back
            span.text-white 
                | username.
            |  Your current pin:
            span.text-white 
                | 20