include ../../mixins/_input-item-text
include ../../mixins/_input-item-button
section.signin-form
    .container
        .row
            .col-md-6.col-xs-12
                .row.signin-form__title
                    .col-md-12
                        |Sign-in your ID
                .row
                    .col-md-8
                        .row.margin-bottom-25
                            .col-md-12
                                +input_item_text_("", "id", "ID", " signin-form__text signin-form__text--id")
                        .row
                            .col-md-12
                                .signin-form__text.signin-form__text--password
                                    input(type="password" name="password" placeholder="Password")
                    .col-md-4.signin-form__button-container
                        +input_item_button_("button", "Sign-in", "btn_signin", " signin-form__button")
                .row
                    .col-md-12.signin-form__forgotten
                        a(href="#") Password forgotten?
                                