.provider-help {
    margin-bottom: 20px;
    &__item-group {
        margin-bottom: 15px;
        @include desktop {
            margin-bottom: 35px;
        }
    }
    &__item {
        font-family: UTMDuepunt;
        color: white;
        background-color: $light-yellow;
        padding: 15px 30px;
        &--first {
            margin-bottom: 10px;
            @include desktop {
                margin-right: 10px;
                margin-bottom: 0;
            }
        }
        &--second {
            margin-bottom: 10px;
            @include desktop {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 0;
            }
        }
        &--thirt {
            margin-bottom: 10px;
            @include desktop {
                margin-left: 10px;
                margin-bottom: 0;
            }
        }
        .item-title {
            font-size: $normal;
            padding-top: 15px;
        }
        .item-value {
            font-size: $bigger;
        }
    }
    &__button {
        text-align: center;
        > button {
            width: 90%;
            line-height: 37px;
            border: 3px solid $light-yellow;
            border-radius: 8px;
            background-color: white;
            font-family: UTMAvo;
            font-size: $medium;
            color: $light-yellow;
            @include desktop {
                width: 48%;
                font-size: $big;
            }
        }
    }
}

.newest-transaction {
    &__title {
        text-align: center;
        font-family: UTMAvo;
        font-size: $bigger;
        color: #dda603;
        margin-bottom: 30px;
    }
    .request {
        border: 1px solid $light-yellow;
        font-family: UTMAvo;
        &--ph {
            margin-bottom: 20px;
            @include desktop {
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
        &--gh {
            margin-bottom: 20px;
            @include desktop {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        &__title {
            text-align: center;
            font-size: $medium;
            color: #343433;
            margin-top: 25px;
            margin-bottom: 25px;
            > span {
                color: $light-yellow;
            }
            @include desktop {
                font-size: $big;
            }
        }
        &__header {
            margin: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #c9c9c9;
        }
        &__item {
            margin: 0;
            line-height: 55px;
            border-top: 1px solid #f0f0f0;
            &:nth-child(odd) {
                background-color: #fcfcfc;
            }
        }
    }
}
